[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure
[submodule "public/ekzm8523.github.io"]
	path = public/ekzm8523.github.io
	url = https://github.com/ekzm8523/ekzm8523.github.io.git
	branch = main
